/*
Theme Name: NoContrast
Theme URI: http://desbest.com/projects/wordpress-themes
Description: A very small theme for your blog, is compatible with Wordpress 2.8 and maybe other versions.
Author: Andrei Luca and desbest
Author URI: http://desbest.com
Template: no-contrast
Version: 1.1.1
Tags: blue, light, two-columns, right-sidebar, fixed-width, no-contrast
.
Released under the <a href="http://www.opensource.org/licenses/gpl-license.php">GPL</a>.
.
*/


/* RESET */
html, body { overflow-x: hidden; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
vertical-align: baseline;
background: transparent;
}
*:focus {outline: none;}

/* GENERAL */

body{
background-color:#8BA1AE;
font-family:Tahoma;
font-size:11px;
color:#8A9CA8;
text-align:center;
margin:0px;
background: #8BA1AE url(images/topbg.jpg) repeat-x;
}
#body{
margin:0 auto;
width:550px;
text-align: left;
}
.clr{
clear:both;
}

/* ELEMENTE DESIGN */

#header{
margin-top:3.5em;
background:#8BA1AE url(images/header.jpg) no-repeat top center;
height:28px;
}
#menu{
background:#8BA1AE url(images/menu_blog.jpg) no-repeat top center;
height:25px;
}
#menu_nosb{
background:#8BA1AE url(images/no-sidebar/menu_blog.jpg) no-repeat top center;
height:25px;
}
#content{
background:#FFF url(images/body.jpg) repeat-y top center;
padding-bottom:1em;
}
.ext_content{
background:#FFF url(images/no-sidebar/body.jpg) repeat-y top center !important;
padding-bottom:1em;
}

#footer{
background:#8BA1AE url(images/bottom.jpg) no-repeat top center;
height:32px;
clear:both;
margin-bottom:2em;
}

.ext_footer{
background:#8BA1AE url(images/no-sidebar/bottom.jpg) no-repeat top center !important;
}

/* MENIUL PRINCIPAL */

.meniu{
padding: 5px 0px;
font-weight:bold;
margin-left:1em;
}
.meniu ul {
display: inline;
border: none;
}
.meniu ul li{
list-style: none;
padding:0px 10.3px;
display: inline;
}
.meniu ul li a{
text-decoration:none;
color:#9CADB7;
}
.meniu ul li a:hover{
color:#8191A0;
}
.meniu ul li #selectat{
color:#8191A0;
padding-bottom:9px;
background: url(images/selectat.jpg) no-repeat center center;
}

/* SMALL HACKZ */
*:first-child+html .meniu ul li #selectat{ position:relative; bottom:0px; }
*+html .meniu ul li #selectat{ position:relative; bottom:0px; }

/* HEADER */

#head{
float: left;
width: 440px;
height: 21px;
}
h1 a#head {
font-size:11px;
text-decoration:none;
color:#D6DDE3;
padding:5px 10px;
}
* html h1 a#head{
padding:3px;
}
.textsize{
float:right;
margin-right:6px;
margin-top:5px;
font-size:12px;
width:20px;
height:13px;
cursor:pointer;
}
.letitsnow{
width:38px;
margin-right:5px;
}
/*
#ads{
padding:5px;
position:absolute;
top:0px;
left:0px;
width:100%;
_width:300%;
background-color:#6D7C8F;
filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity:0.6;
border-bottom:1px solid #D6DDE3;
color:#FFF;
text-align:left;
}

#ads a{
color:#FFF;
text-decoration:none;
}
*/

/* CONTINUT */

#content{
/* text-align:justify;*/
}
html>body #content a{
color:#8A9CA8;
text-decoration:none;
border-bottom:#ced6d4 1px dotted;
}
#content a{
color:#8A9CA8;
text-decoration:none;
}
.continut{
padding:10px 10px 10px 18px;
float:left;
width:306px;
}
.ext_continut{
    width:515px;
}

.entry, .entry_single{
line-height:18px;
min-height:100px;
/*
letter-spacing:0.01em;
*/
}
.continut h2,
.continut h1 {
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana;
font-size:16px;
font-weight:normal;
letter-spacing:-1px;
padding:7px 0 2px 0;
margin:0 0 5px 0;
border-bottom:#ced6d4 1px dotted;
cursor:default;
}
.continut h2 a,
.continut h1 a{
border-bottom:0px !important;
}
/*
.continut a img{
filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity:0.5;
}
*/
.continut img{
border:1px solid #ced6d4;
padding:2px; 
}
.continut img.noborder{
border:0px;
padding:0px;
}


/* SIDEBAR */

.sidebar{
float:left;
width:180px;
/*overflow:hidden;*/
padding:3px 0 0 19px;
}
.sidebar ul{
list-style:none;
margin-left:2px;
margin-right:3px;
}

.sidebar ul li a{
display:block;
padding:1px;
border-bottom:1px solid #EEE !important;
}
.sidebar ul li a:hover{
/*
font-weight:bold;
*/
color:#AAA !important;
}
* html .sidebar ul li a{
width:98%;
z-index:2;
}


.sidebar .list{
background: url('images/blogside_box.jpg') no-repeat;
padding:6px 8px;
height:13px;
font-weight:bold;
}

#searchform{margin-left:1px;}
.search{
background: url('images/search_box.jpg') 0px -26px no-repeat;
height:18px;
width:180px;
border:0px;
padding:5px 0 3px 5px;
color:#8BA1AE;
letter-spacing:-1px;
margin-bottom:6px;
}
.search:focus{
background: url('images/search_box.jpg') 0px 0px no-repeat;
}

/* FOOTER */

#footer .copy{
color:#B3C1CA;
position:relative;
top:14px;
left:5px;
}
#footer .copy a{
color:#B3C1CA;
text-decoration:none;
border-bottom:#B3C1CA 1px dotted;
}
#footer .w3c{
position:relative;
width:80px;
float:right;
height:12px;
margin:10px 60px;
}


/* FORMULARE */

#form {
text-align:left;
}
#form b{
font-size:9px;
}
#form input {
width:295px;
padding:4px;
font-family:Tahoma;
font-size:11px;
color:#666;
margin:5px 0 5px 0;
line-height:1.2em;
background:#FFFFFF;
border:1px solid #BFBFBF;
-moz-border-radius:2px;
-webkit-border-radius:2px;
}
#form input:hover {
color:#444;
background:#F0F0F0;
border:1px solid #999;
}
#form textarea {
width:295px;
padding:4px;
font-family:Tahoma;
font-size: 11px;
color:#666;
margin:5px 0 5px 0;
line-height:1.2em;
background:#FFFFFF;
border:1px solid #BFBFBF;
overflow:hidden;
-moz-border-radius:2px;
-webkit-border-radius:2px;
display:block;
}
#form textarea:hover {
color:#444;
background:#F0F0F0;
border:1px solid #999;
}
#form #trimite {
border:0px;
width:65px;
display:block;
background:url('images/btn.jpg') no-repeat;
cursor:pointer;
font-weight:bold;
color: #75838A;
font-size:11px;
}
#form #trimite:hover {
color: #8BA1AE;
}
* html #form #trimite{
height:23px;
}
*:first-child+html #form #trimite{
height:24px;
}

#form #email{
background:#FFF url('images/email.jpg') no-repeat !important;
background-position:5px 6px !important;
padding-left:25px !important;
width:274px !important;
}


/* BLOG */

.blog_com{
list-style:none;
border:1px solid #EEE;
padding:5px 10px 5px 10px;
margin:1em 0px;
width:93%;
}

.alt{
background-color:#EEE;
border:1px solid #8BA1AE;
}
.sidebar li{
line-height:18px;
}
.meta,.feedback{
background: url('images/bg_meta_tags.png') 0px 0px no-repeat;
padding:5px 25px;
margin-bottom:1em;
height:13px;
}
.feedback{
margin-top:1em;
background: url('images/bg_meta_tags.png') 0px -23px no-repeat;
}
p{
margin-bottom:10px;
}
.letitsnow{
width:40px;
}
.continut ol.lista{
margin-left:2em;
}
#zapada{
position:fixed;
left:0px;
bottom:0px;
margin:auto;
height:28px;
width:100%;
background:url('images/zapada.png') repeat-x;
}

blockquote {
/*
border: 1px solid #D6DDE3;
background: #f8f7f6 url(images/bg_sz.png);
*/
color:#C0C0C0;
padding: 0px 10px 0px 10px;
border-left:3px solid #D6DDE3;
margin-bottom:1em;
line-height:20px;
}
.data_blog{
position:absolute;
margin-left:-3.5em;
display:inline;
padding:7px 16px 100px 17px;
font-size:16px;
font-family:Georgia;
background:url('images/comm2.jpg') no-repeat;
}
.data_blog.large{
padding-left:13px;
}
.data_blog.extralarge{
padding-left:8px;
}
.data_blog a{
text-align:center;
border-bottom:0px !important;
}
.data_blog_ok{
display:block;
margin-top:20px;
color:#B3C1CA;
margin-left:-12px;
text-align:center;
width:32px;
font: 9px Tahoma;
}
.blogger{
background: url('images/bg_note_top.png') no-repeat;
padding:12px 5px 5px 8px;
}
.blogger_close{
background: url('images/bg_note_top.png') 0px -257px no-repeat;
height:2px;
}
.no_related_posts{
background-color:#FFE6E6;
padding:8px 8px 8px 8px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}
.trackbacks{
background-color:#EEE;
padding:5px;
margin-bottom:2px;
}
.autor_comm{
margin-bottom:4px;
border-bottom:1px solid #8BA1AE;
padding-bottom:4px;
}
.autor_comm a{
border-bottom:0px !important;
}
.error_li_listing li{
background-color:#EEE;
margin-bottom:2px;
margin-left:-2em;
list-style:none;
padding:5px;
}
.nav_links{
display:inline;
padding:2px 8px 2px 8px;
background-color:#D6DDE3;
border:1px solid #BCCFD5;
-moz-border-radius:2px;
-webkit-border-radius:2px;
}
.nav_links:hover{
border:1px solid #8BA1AE;
}
a.more-link span{
display:block;
background-color:#DDD;
margin-top:1em;
padding:0px 8px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
}
.entry_single p span.trilu_audio{
display:none;
}
.continut ul{
margin:1em 2em;
list-style:circle;
}
.continut ul li{
padding-bottom:5px;
}
.trilu_audio{
display:block;
background: url('images/trilu_audio.png') no-repeat;
width:305px;
height:41px;
margin-top:1em;
}

form img{border:0px !important;}
hr{border:0px;background-color:#D6DDE3;height:3px;}
.round{ -moz-border-radius:4px;-webkit-border-radius:4px;  }
.opacity{ filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity: 0.4;opacity:0.4;      -moz-border-radius:2px;-webkit-border-radius:2px;  }